<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.customer.mapper.ConsumerMapper">
  <resultMap id="BaseResultMap" type="com.crm.customer.pojo.dos.Consumer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card" jdbcType="CHAR" property="idCard" />
    <result column="number" jdbcType="CHAR" property="number" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="consumer_trade_id" jdbcType="INTEGER" property="consumerTradeId" />
    <result column="next_contact_datetime" jdbcType="TIMESTAMP" property="nextContactDatetime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from consumer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.customer.pojo.dos.Consumer">
    insert into consumer (id, parent_id, name, 
      id_card, number, status_id, 
      level_id, consumer_trade_id, next_contact_datetime, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=CHAR}, #{number,jdbcType=CHAR}, #{statusId,jdbcType=INTEGER}, 
      #{levelId,jdbcType=INTEGER}, #{consumerTradeId,jdbcType=INTEGER}, #{nextContactDatetime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crm.customer.pojo.dos.Consumer">
    update consumer
    set parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=CHAR},
      number = #{number,jdbcType=CHAR},
      status_id = #{statusId,jdbcType=INTEGER},
      level_id = #{levelId,jdbcType=INTEGER},
      consumer_trade_id = #{consumerTradeId,jdbcType=INTEGER},
      next_contact_datetime = #{nextContactDatetime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, parent_id, name, id_card, number, status_id, level_id, consumer_trade_id,
    next_contact_datetime, create_time, update_time
    from consumer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, parent_id, name, id_card, number, status_id, level_id, consumer_trade_id, 
    next_contact_datetime, create_time, update_time
    from consumer
  </select>
</mapper>